                            /* Add a black background color to the top navigation */
                            
                            .topnav {
                                background-color: rgb(32, 20, 20);
                                overflow: hidden;
                            }
                            
                            body {
                                background-color: rgb(223, 206, 206);
                            }
                            /* Style the links inside the navigation bar */
                            
                            .topnav a {
                                float: left;
                                color: #5520d1;
                                text-align: center;
                                padding: 14px 16px;
                                text-decoration: none;
                                font-size: 17px;
                            }
                            /* Change the color of links on hover */
                            
                            .topnav a:hover {
                                background-color: rgb(65, 209, 137);
                                color: rgb(205, 216, 52);
                                border-radius: 12px;
                            }
                            /* Add a color to the active/current link */
                            
                            .topnav a.active {
                                background-color: #1ace86;
                                color: rgb(27, 32, 27);
                            }
                            /* REGISTRATION.HTML  FORM CSS  STYLIG*/
                            
                            .container {
                                background-color: green;
                            }